.footer-cta {
  background-image: url(../../assets/cta_Image_foot.png);
  background-size: 100%;
  text-align: center;
  height: 100vh;
  background-repeat: no-repeat;
  padding-top: 100px;
}


.footerHeader {
  font-size: 60px;
  font-weight: 700;
  color: #fff;
}

.footer_para {
  font-size: 24px;
  font-weight: 500;
  color: #ffff;
}

.paraSmallDevice{
  display: none;
}

.footer_button1, .buttonSet1_2 {
  margin: none;
  outline: none;
  padding: 16px 58px;
  border-radius: 8px;
  color: #fff;
  background: #fa4a0c;
  box-shadow: none;
  border: 0;
  font-size: 16px;
  font-weight: 700;
}

.footer_button2, .buttonSet2_2 {
  margin: none;
  outline: none;
  padding: 16px 58px;
  border-radius: 8px;
  color: #fff;
  background: transparent;
  box-shadow: none;
  font-weight: 700;
  border: 2px solid #fff;
  font-size: 16px;
}

.buttonSet1_2{
  padding: 16px 16px;
}


.button_Container2{
  display: none;
}



@media screen and (max-width: 900px) {
  .footerHeader {
    font-size: 32px;
    font-weight: 700;
    color: #ffffff;
  }

  .footer_para {
    display: none;
  }

  .paraSmallDevice{
    display: block;
    font-size: 16px;
    font-weight: 500;
    color: #ffffff;
  }

  .footer-cta {
    background-image: none;
    background-color: #252b42;
    height: 100%;
  }

 .footer_button1, .footer_button2{
  display: none;
 }

  .button_Container2{
    display: block;
  }

  .footer-cta{
    padding-bottom: 20%;
  }
}


@media screen and (min-width: 2000px) and (max-width: 3000px) {
  .footer-cta {
    padding-top: 250px;
  }

  .footerHeader {
    font-size: 100px;
}
.footer_para {
  font-size: 32px;
 
}

.footer_button1, .footer_button2{
  padding: 30px 68px;
  font-size: 32px;
}

}
