.cta-foot{
    background-image: url(../../assets/ctaImage-Footer.svg);
    height: 100vh;
    text-align: center;
    width: auto;
    height: 100vh;
    background-size: contain;
    background-repeat: no-repeat;
    padding-top: 85px;
}

.footerHeader{
    font-size: 60px;
    font-weight: 700;
    color: #fff; 
}

.footer_para{
    font-size: 24px;
    font-weight: 500;
    color: #ffff;
  }

  .footer_button1{
    margin: none;
    outline: none;
    padding: 16px 58px;
    border-radius: 50px;
    color: #fff;
    background: #FA4A0C;
    box-shadow: none;
    border: 0;
    font-size: 16px;
    font-weight: 700;
  }

  .footer_button2{
    margin: none;
    outline: none;
    padding: 16px 58px;
    border-radius: 50px;
    color: #fff;
    background: transparent;
    box-shadow: none;
    font-weight: 700;
    border: 2px solid #fff;
    font-size: 16px;
  }