@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600;700&display=swap');

*{
    font-family: "Montserrat", sans-serif ;
}


.copyright{
    font-weight: 700;
    font-size: 14px;
}

.socialsSize{
    width: 40%;
}

.align{
    margin-top: -6%;
}

.footerLogo{
    width: 40%;
}


@media screen and (max-width: 900px) {
    .align{
        text-align: center;
        margin-top: 10%;
    }
    

    .copyright{
        font-weight: 700;
        font-size: 12px;
        margin-top: 3%;
    }

    .footerLogo{
        display: none;
    }
}

@media screen and (min-width: 999px) and (max-width: 1999px) {
    .align{
        margin-top: -100px;
        max-width: 80%;
    }

    .copyright{
        font-size: 18px;
    }
    
    .socialsSize{
        width: 30%;
    }
    
    .footerLogo{
        width: 30%;
        margin-top: -30px;
    } 
  
  }

  @media screen and (min-width: 2000px) and (max-width: 3000px) {
    .align{
        margin-top: -300px;
        max-width: 80%;
    }

    .copyright{
        font-size: 30px;
    }
    
    .socialsSize{
        width: 30%;
    }
    
    .footerLogo{
        width: 30%;
        margin-top: -30px;
    } 
  
  }