@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600;700&display=swap');

*{
    font-family: "Montserrat", sans-serif ;
}

.features{
    margin-top: 550px;
}

.imageDiv{
    margin-top: 100px;
    text-align: center;
}

.feat-Line{
    width: 100%;
}

.HIW, .HTW2{
    color: #000;
    font-size: 40px;
    font-weight: 600;
    margin-top: 50px;
    font-family: "Poppins", sans-serif;
}

.HIW2{
    display: none;
}

.imageSize{
    width: 100%;
}

.margin-auto{
    margin: 21% auto;
}

.paraHeader{
    color: #FA4A0C;
    font-weight: 700;
    margin-top: 50px;
}

.featureHeader{
    color: #000;
    font-size: 36px;
    font-weight: 700;
    font-family: "Montserrat";
}

.featurePara{
    color: #737373;
    text-align: left;
    font-size: 20px;
    font-weight: 500;
    margin-top: 30px;
}


@media screen and (max-width: 900px)  {
    .features{
        margin-top: 200px;
    }

    .imageDiv{
        margin-top: 0px;
    }

    .HIW2{
        font-size: 24px;
        font-weight: 600;
        margin-top: 0;
        display: block;
    }

    .HIW{
        display: none;
    }

    .imageOrder{
        order: 2;
    }

    .imageSize{
        width: 100%;
        padding: 0;
    }

    .imageOrder, .margin-auto{
        margin: -5%;
    }

    .Flex_Direction, .featureHeader, .featurePara, .paraHeader{
        text-align: center;
    }

}

